body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

#btnCriarNovoEvento {
    background-color: #023e8a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

#btnEventosDisponiveis {
    background-color: #023e8a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

main {
    padding: 2rem;
}

#eventosDisponiveis, #criarEvento {
    background-color: #e0f7fa;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    width: 95vw;
}

.evento {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 4px;
}

.hidden {
    background-color: #23117f;
    display: none;
}
